body {
  background-color: #cce5f5;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
}
h3 {
  font-family: "raleway", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
header {
  font-size: 2em;
  background-color: navy;
  color: #dcd91d;
  font-family: "raleway", sans-serif;
  text-align: center;
  padding: 0px 0px;
  position: relative;
}
#contentHeader {
  color: #dcd91d;
  border: 2px solid #262228;
  background-image: url("../home_images/IMG_7940.JPG");
  background-attachment: fixed;
  background-size: cover;
  padding: 10px 10px 20px 10px;
}
#contentHeader h1 {
  margin: 0px 5px 10px 5px;
  color: navy;
  background-color: #dcd91d;
  font-family: "raleway", sans-serif;
}
#contentHeader table {
  opacity: 0.9;
}
header + div {
  background-color: navy;
  color: #cce5f5;
  font-family: aileron, sans-serif;
  text-align: center;
  top: 0px;
  margin: 0px;
  z-index: 10;
}
header > img {
  width: 120px;
  position: absolute;
  right: 10%;
  top: 10px;
  z-index: 100;
}
#leftBar {
  float: left;
  margin-top: 10px;
  min-height: 400px;
  background-color: #82c6e3;
  border: 2px solid black;
  width: 200px;
}
#content {
  margin-left: 210px;
}
#leftBar a {
  display: block;
  background-color: #cce5f5;
  margin-bottom: 5px;
  color: navy;
  text-decoration: none;
  padding: 2px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 4px;
  border: 1px solid #262228;
}
#leftBar a:hover {
  background-color: navy;
  color: #f3fdff;
}
#leftBar h3 {
  color: #cce5f5;
  text-align: center;
  font-family: "raleway", sans-serif;
}
table,
th,
td {
  border: 1px solid #262228;
  border-collapse: collapse;
  padding: 2px;
}
table {
  width: 50%;
  margin-left: 10px;
}
tr {
  background-color: #cce5f5;
  color: #262228;
}
tr:nth-child(even) {
  background-color: #f3fdff;
}
article {
  margin: 5px;
  background-color: #f3fdff;
  padding: 5px;
}
p {
  font-family: times, serif;
}
nav {
  background-color: navy;
  color: #f3fdff;
  margin: 0px;
  position: sticky;
  top: 0px;
  z-index: 5;
  height: 23px;
}
nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
nav > ul > li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #f3fdff;
}
nav a:hover {
  color: #dcd91d;
}
nav ul li {
  position: relative;
  padding: 2px 5px;
}
nav ul ul {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: navy;
  margin: 0px;
  padding: 0px;
}
nav ul li:hover ul {
  opacity: 1;
  pointer-events: all;
}
.flexContainer {
  display: flex;
  flex-flow: row wrap;
}
#slideshowContainer {
  /* border: 3px inset silver; */
  min-height: 200px;
  margin: 5px auto;
  scrollbar-width: none;
  position: relative;
  padding: 2px 25px;
  background-color: transparent;
  overflow: hidden;
}
#slideshowContainer .cover2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 7%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 93%, rgba(255, 255, 255, 0.6) 100%);
  pointer-events: none;
}
#slideshow {
  box-shadow: 2px 2px 5px grey;
  display: flex;
  margin: 0px auto;
  overflow-x: scroll;
  padding: 8px 120px;
  color: black;
  scrollbar-width: none;
  align-items: baseline;
}
#slideshow img,
#slideshow iframe {
  height: 225px;
  display: inline-block;
  flex-flow: row nowrap;
  margin: 5px;
}
#slideshow div {
  text-align: center;
  position: relative;
}
#slideshow caption {
  position: absolute;
  bottom: 5px;
}
#goRight {
  right: 0px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
}
#goLeft {
  left: 0px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
}
.goButton {
  width: 120px;
  position: absolute;
  top: 0px;
  text-wrap: wrap;
  text-align: center;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  z-index: 4;
}
.goButton:hover {
  background: rgba(234, 233, 214, 0.5) !important;
}
.goButton:hover img {
  opacity: 0.8;
  pointer-events: none;
}
.goButton img {
  height: 100%;
  opacity: 0.3;
}
section {
  clear: both;
}
section > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
section h1 {
  background-color: navy;
  color: #dcd91d;
  text-align: center;
  font-family: "raleway", sans-serif;
  padding: 5px;
  position: sticky;
  top: 23px;
}
section img {
  width: 300px;
  box-shadow: 4px 4px 6px #5c6485;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
section article {
  border-radius: 15px;
  flex: 1;
  min-width: 375px;
  max-width: 450px;
  padding: 5px;
}
section article p {
  text-indent: 20px;
}
section article div {
  padding-right: 10px;
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
#special article {
  flex: 1;
  max-width: none;
}
#special article img {
  width: 80%;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  text-align: center;
  background-color: navy;
  color: #f3fdff;
  height: 25px;
}
footer a {
  color: #f3fdff;
}
footer span:first-child {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
footer span:last-child {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
